.container {
  background-image: url(https://p4.wallpaperbetter.com/wallpaper/467/417/159/dark-blue-wallpaper-preview.jpg);
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
